html {
    height: 100%;
}

body {
    margin: 0;
}

#chatFullBlock {
    box-sizing: border-box;
    box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
    left: 50%;
    position: fixed;
    padding: 0;
    text-align: center;
    top: 45%;
    height: 87%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.headerOfBox {
    width: 100%;
    background-color: pink;
    margin: 0;
}



.chatsList{
    /*background-image: url('bg4.jpg');*/
    background-color: #eaebf0;
    margin: 0;
    padding: 0;
}

/*
------------------------------------------
*/

.header {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 15px;
    margin: 0;
}

.user-img {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;

    float: left;

}

/*icons list*/
.dp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
    padding-left: 110px;
}

.nav-icons li {
    backgroud-color: pink;
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #51585c;
    margin-left: 22px;
    font-size: 18px;
}

/*Add user icon*/

.gg-user-add {
    display: block;
    transform: scale(1);
    box-sizing: border-box;
    width: 20px;
    height: 18px;
    background: linear-gradient(
            to left,
            currentColor 8px,
            transparent 0) no-repeat 14px 6px/6px 2px,
    linear-gradient(
            to left,
            currentColor 8px,
            transparent 0) no-repeat 16px 4px/2px 6px
}

.gg-user-add::after, .gg-user-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}

.gg-user-add::before {
    width: 8px;
    height: 8px;
    border-radius: 30px;
    top: 0;
    left: 2px
}

.gg-user-add::after {
    width: 12px;
    height: 9px;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: 9px
}

/*Menu icon*/
.gg-menu-round {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 22px;
    height: 22px;
    border-radius: 24px;
    border: 2px solid;
}

.gg-menu-round::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top: 4px;
    left: 4px;
    box-shadow: 0 4px 0, 0 8px 0
}

/*The search bar*/
#search-adon {
    padding: 0;
}

/*The chatBox*/
/*#chatBoxOfMessages {*/
/*    height: 400px;*/
/*    background-color: #0099ff;*/
/*}*/

/*The chatPersonRoom*/

.userName {
    /*position: center;*/
    margin-left: 30px;
    font-weight: bold;
    font-size: 90%;
    float: left;
}

.timeAndHour {
    margin-right: 0;
    font-size: 70%;
    float: right;
}

.lastMsg {
    float: left;
    margin-top: 10px;
    margin-left: 30%;
    font-size: 60%;
    font-style: italic;
}

.modal-backdrop {
    display: none;
}

