.backgroundBottom {
    background-color: #4169E1;
    background-image: linear-gradient(to bottom left, transparent 50%, white 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 10vh;
    margin: 0;
    padding: 0;
}

.backgroundTop {
    background-color: #4169E1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 10vh;
    margin: 0;
    padding: 0;
}